h1,h2,h3,h4,p,li {
	font-family: Calibri, sans-serif;
}

h1,h2,h3,h4,a {
	color: #004178;
	font-weight: normal;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 115%;
}

h1, h2, h3 {
	text-align: center;
}

p {
	margin-top: 0.15em;
	margin-bottom: 0.15em;
	font-size: 115%;
}

ul {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1.2em;
}


li {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 115%;
}


a {
	text-decoration: none;
}

a:hover {
	color: #5D7BA6;
}

input[type=submit] {
	font-size: 100%;
}

input[type=text] {
	font-size: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 2em;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
